---
layout: default
hide-header: true
---

<section class="welcome">
	{% include header.html logo="white" %}

	<div class="container">
		<div class="welcome-header">
			<h1 class="welcome-title">Admin panel made simple</h1>
			<p class="welcome-description">Premium dashboard template with responsive and high quality UI. For Free!</p>

			<div class="mt-6">
				<a href="{{ site.github_url }}" class="btn btn-green" target="_blank">Download</a>
				<a href="{{ site.url }}/demo" class="btn btn-outline ml-2">See demo</a>
			</div>
		</div>


		<div class="welcome-browser">
			<svg width="966" height="565" viewbox="0 0 966 565" version="1.1"
			     xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet">
				<image xlink:href="{{ site.url }}/assets/images/macbook.png" x="0" y="0" height="565" width="966"/>
				<image xlink:href="{{ site.url }}/assets/images/dashboard.png" x="117" y="26" height="478" width="730"/>
			</svg>
		</div>
	</div>
</section>

<section class="section pt-7">
	<div class="container">
		<h2 class="section-title">Features</h2>
		<p class="section-description mb-6">
			Tabler comes with tons of well-designed components and features.
		</p>

		<div class="features">
			<div class="feature">
				<div class="feature-image">
					<img src="{{ site.url }}/assets/images/features/features-1.png" alt="">
				</div>
				<div class="feature-description">
					<h3 class="feature-name">Feature name</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, eum, facere fuga id ipsam laborum magnam mollitia perferendis, quasi quos sit totam ut velit vero voluptate voluptatum. Dolorem, et!</p>
				</div>
			</div>
			<div class="feature">
				<div class="feature-image">
					<img src="{{ site.url }}/assets/images/features/features-2.png" alt="">
				</div>
				<div class="feature-description">
					<h3 class="feature-name">Feature name</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, eum, facere fuga id ipsam laborum magnam mollitia perferendis, quasi quos sit totam ut velit vero voluptate voluptatum. Dolorem, et!</p>
				</div>
			</div>
			<div class="feature">
				<div class="feature-image">
					<img src="{{ site.url }}/assets/images/features/features-3.png" alt="">
				</div>
				<div class="feature-description">
					<h3 class="feature-name">Feature name</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, eum, facere fuga id ipsam laborum magnam mollitia perferendis, quasi quos sit totam ut velit vero voluptate voluptatum. Dolorem, et!</p>
				</div>
			</div>
			<div class="feature">
				<div class="feature-image">
					<img src="{{ site.url }}/assets/images/features/features-4.png" alt="">
				</div>
				<div class="feature-description">
					<h3 class="feature-name">Feature name</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, eum, facere fuga id ipsam laborum magnam mollitia perferendis, quasi quos sit totam ut velit vero voluptate voluptatum. Dolorem, et!</p>
					<div class="mt-5">
						<a href="#" class="btn btn-small btn-outline-dark">View source code</a>
					</div>
				</div>
			</div>
			<div class="feature">
				<div class="feature-image">
					<img src="{{ site.url }}/assets/images/features/features-5.png" alt="">
				</div>
				<div class="feature-description">
					<h3 class="feature-name">Feature name</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos, eum, facere fuga id ipsam laborum magnam mollitia perferendis, quasi quos sit totam ut velit vero voluptate voluptatum. Dolorem, et!</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% comment %}
<section class="section section-dark">
	<div class="container">
		<h2 class="section-title">Frequently Asked Questions</h2>
		<p class="section-description">
			Got a question? We've got answers. If you have some other questions, see our support center.
		</p>

		<div class="row">
			<div class="col-lg-6">
				<h4>What payment services do you support?</h4>
				<p>We accept all major credit cards.</p>
			</div>
			<div class="col-lg-6">
				<h4>Can I cancel my subscription?</h4>
				<p>You can cancel your subscription at any time. Cancelling your plan comes into effect the following month.</p>
			</div>
			<div class="col-lg-6">
				<h4>Is this a secure site for purchases?</h4>
				<p>Absolutely! We work with Stripe which guarantees your safety and security. All site communication and data transfer are secured and
					encrypted.</p>
			</div>
			<div class="col-lg-6">
				<h4>Can I update my card details?</h4>
				<p>Yes. Go to the billing section of your dashboard and update your payment information.</p>
			</div>
			<div class="col-lg-6">
				<h4>How long are your contracts?</h4>
				<p>Currently, we only offer monthly subscription. You can upgrade, downgrade, or cancel your monthly account at any time with no further
					obligation. Yearly subscription with generous discount will become available soon.</p>
			</div>
			<div class="col-lg-6">
				<h4>Why do you ask for several permissions in login?</h4>
				<p>Envato API requires us to ask for these permissions to have the ability to get your details, items, purchased items, etc. on your behalf. We
					take
					privacy extremely seriously, and will never send messages, or access your data for anything other than our stated purposes.</p>
			</div>
			<div class="col-lg-6">
				<h4>Are you affiliated with Envato?</h4>
				<p>No, we are not affliated or supported by Envato.</p>
			</div>
			<div class="col-lg-6">
				<h4>Can I get refund?</h4>
				<p>Unfortunately, not at this time! Please try our free plan for a while to make sure Helpato is what you want.</p>
			</div>
		</div>
	</div>
</section>
{% endcomment %}

<section class="section section-action">
	<div class="container">
		<h2 class="section-title">Ready to download?</h2>
		<p class="section-description">
			Start your adventure with Tabler and make your dashboard great again. For free!</p>
		<div class="mt-4">
			<a href="{{ site.github_url }}" class="btn btn-green" target="_blank">Download</a>
			<a href="{{ site.url }}/demo" class="btn btn-outline ml-2">See demo</a>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h2 class="section-title">Changelog</h2>

		{% for changelog in site.data.changelog %}
		<div class="row mb-4">
			<div class="col-md-3 text-md-right mb-2 mb-md-0">
				<h4 class="m-0">v{{ changelog.version }}</h4>
				<small class="text-muted">{{ changelog.date }}</small>
			</div>
			<div class="col">
				<ul>
					{% for change in changelog.changes %}
					<li>{{ change }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

