<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Tabler - Premium dashboard template with responsive and high quality UI. For Free!</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" />

	<link rel="stylesheet" href="assets/css/style.css">
	<meta name="google-site-verification" content="BVFVRVpG6GoPMaAY6LsruG_pYia11RDrJGZtp0ITwA8" />

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113467793-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113467793-1');
	</script>
</head>
<body>

{{ content }}

</body>
</html>