<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">

	<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
	<meta name="google-site-verification" content="BVFVRVpG6GoPMaAY6LsruG_pYia11RDrJGZtp0ITwA8"/>

	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:url" content="{{ site.url }}"/>
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"/>
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image" content="{{ site.url }}/og.png?{{ site.time | date: '%s' }}"/>

	<meta name="twitter:image:width" content="600"/>
	<meta name="twitter:image:height" content="315"/>

	<meta name="twitter:creator" content="@codecalm"/>

	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta property="og:url" content="{{ site.url }}"/>
	<meta property="og:site_name" content="{{ site.title }}"/>
	<meta property="og:image" content="{{ site.url }}/og.png?{{ site.time | date: '%s' }}"/>

	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>

	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<script type="application/ld+json">
		{
			"name": "{{ site.title | escape }}",
			"description": "{{ site.description | escape }}",
			"@type": "WebSite",
			"url": "{{ site.url }}{{ page.url }}",
			"headline": "{{ site.title | escape }}",
			"@context": "http://schema.org"
		}
	</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113467793-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-113467793-1');
	</script>
</head>
<body>

{{ content }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script>
    $(document).ready(function () {
        console.log('ok');
        var devices = {
            mobile: { width: 375, height: 667 },
            tablet: { width: 768, height: 1024 },
            desktop: { width: 1200, height: 800 },
            tv: { width: 1600, height: 900 },
        };

        function changeDevice(deviceName) {
			var device = devices[deviceName],
				$links = $('.jQ_changeDevice[data-device]');

            $links
				.removeClass('active')
				.filter('[data-device="' + deviceName +'"]').addClass('active');

			$('.jQ_deviceWrapper')
				.width(device.width)
				.height(device.height);
		}

        $('.jQ_changeDevice').on('click', function(e){
            var $this = $(this),
				device = $this.attr('data-device');

            changeDevice(device);

            e.preventDefault();
            return false;
		});

        changeDevice('tv');
    });
</script>
</body>
</html>