---
layout: base
---

{% unless page.hide-header %}
	{% include header.html logo="white" %}
{% endunless %}

{{ content }}

<footer class="footer">
	<div class="container">
		<div class="row align-items-center text-center">
			<div class="col-md-auto">
				Project maintained by <a href="https://codecalm.net">codecalm.net</a>
				・ License: MIT
			</div>
			<div class="col-md-auto mt-2 mt-sm-0 ml-sm-auto">
				<a href="https://buddy.works/"><img src="https://assets.buddy.works/automated-white.svg" alt="Automated by Buddy" class="d-block mx-auto"></a>
			</div>
		</div>
	</div>
</footer>