---
layout: base
---
<header class="header">
	<div class="container d-flex">
		<a href="." class="logo">
			<img src="assets/images/logo.svg" alt="" class="logo-image"/>
		</a>
		<div class="menu ml-auto">
			<a href="./help.html">Getting started</a>
			<a href="./demo/">Demo</a>
			<a href="{{ site.github_url }}"><i class="fa fa-github"></i> GitHub</a>
		</div>
	</div>
</header>

{{ content }}

<footer class="footer">
	<div class="container d-flex">
		<div>Project maintained by <a href="https://codecalm.net">codecalm.net</a></div>
		<div class="ml-auto">
			<a href="./demo/" class="text-muted">Demo</a>
		</div>
	</div>
</footer>